.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
epiRomics.Rproj

*.gz
*.bed
*.bigwig
inst/extdata/DBA_Beta_Versus_Alpha.csv
inst/extdata/example_epiRomics_BW_sheet_user_paths.csv
inst/extdata/example_epiRomics_Db_sheet_user_paths.csv
*.eps
*.timestamp
Meta
docs
vignettes/getting-started-with-epiRomics_cache/html/__packages
*.RData
*.rdb
*.rdx
*.png
*.dcf
*.woff
*.jpg
vignettes/getting-started-with-epiRomics_cache/latex/__packages
vignettes/getting-started-with-epiRomics_files/figure-latex/fig1-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig3-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig2-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig4-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig5-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig6-1.pdf
vignettes/getting-started-with-epiRomics_files/figure-latex/fig7-1.pdf
