.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
epiRomics.Rproj

docs
*.gz
*.bed
*.bigwig
inst/extdata/DBA_Beta_Versus_Alpha.csv
inst/extdata/example_epiRomics_BW_sheet_user_paths.csv
inst/extdata/example_epiRomics_Db_sheet_user_paths.csv
*.eps
